{# 
    [mongodb-org-{{ mongodb_version }}]
    name=MongoDB Repository
    baseurl=https://repo.mongodb.org/yum/{{ mongodb_os }}/{{ mongodb_os_ver }}/mongodb-org/{{ mongodb_version }}/{{ mongodb_arch }}/
    gpgcheck=1
    enabled=1
    gpgkey=https://pgp.mongodb.com/server-{{ mongodb_version }}.asc
#}