# elasticsearch-config.j2
# Download Elasticsearch binary
curl -o {{ elasticsearch_bin }} {{ elasticsearch_bin_url }}

# Download and verify the SHA checksum
curl -o {{ elasticsearch_sha_file }} {{ elasticsearch_sha_url }}

sha512sum_output=$(sha512sum -c {{ elasticsearch_sha_file }} | cut -f2 -d: | sed -e 's/^ *//')
if [[ "$sha512sum_output" == "OK" ]]; then
  echo "Downloaded sha256sum check passed: {{ elasticsearch_bin }}"
  tar -xzf {{ elasticsearch_bin }}
  mv {{ elasticsearch_dir }} /opt/

  # Set Elasticsearch home environment variable
  export {{ elasticsearch_home }}=/opt/{{ elasticsearch_dir }}
  export {{ elasticsearch_java_home }}=/usr
else
  echo "Failed sha256sum checksum: {{ elasticsearch_bin }}"
  false
fi
